.container {
  position: relative;
  border: 1px solid #21212133;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.title {
  font-size: 30px;
  border: 0px solid transparent;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid #21212133;
}
.imageContainer{
  position:relative;
}

.closeImage{
  margin: 0.5rem;
  background-color:#212121;
  color: white;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.closeImage:hover{
  background-color: #212121aa;
}

.previewImage{
  position: relative;
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
  overflow: hidden;
}

.tags{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-bottom: 3px;
  border: 0px solid transparent;
  outline: none;
  border-bottom: 1px solid #212121cc;
  align-items: center;
}

.tags > input {
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  outline: none;
  font-size: 18px;
}

.add , .remove {
  background-color: transparent;
  border: 0px solid transparent;
  font-size: 20px;
  width: 20%;
  height:100%;
  border-radius: 10px;
  transition: all 0.15s;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.remove{
  font-size: 10px;
  width: 1.2rem;
  height: 1.2rem;
}

.remove:hover {
  background-color: #E53935;
  color: white;
}

.add:hover{
  background-color: #43A047;
  color: white;
}

.moreInfo{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.showTags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.tagElement{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  padding: 4px 10px 4px 10px; 
  font-size: 12px;
  border: 1px solid #21212133;
}

.tagElement > p {
  padding: 0;
  margin: 0;
}

.content {
  font-size: 18px;
  border: 0px solid transparent;
  outline: none;
  resize: none;
  height: 7rem;
}

.options {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

}

.adds {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.uploadImage {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  position: relative;
}

.image {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hidden {
  padding: 5rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0%;
}

.invisible{
  display: none
}

.status{
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 10000;
  left: 0;
  top: 0;
}

.waiting{
  background-color: #21212111;
}

.service{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px 8px 5px 8px;
  border-radius: 10px;
  background-color: white;
  justify-self: flex-end;
  align-self: flex-end;
}

.service:hover{
  background-color: #21212122;
}

.service > p {
  font-size: 12px;
  color: #212121aa;
  align-self: flex-end;
}

.service > div > p {
  font-size: 14px;
}

.select{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px){
  .container {
    border: 1px solid transparent;
    border-bottom: 1px solid #21212133;
    border-radius: 0px;
    padding: 0;
    max-width: 100vw;
  }

  .adds{
      overflow: hidden;
  }

  .tags{
      max-width: 10rem;
  }
}
