.header {
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1rem 0px 0.5rem;
}

.principal{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.headerHero {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.link {
  color: #f1f2f3;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}

.link:hover {
  border-bottom: 2px solid #f1f2f3;
}

.image {
  cursor: pointer;
  width: 160px;
}

.menu {
  display: flex;
  justify-self: flex-end;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .link {
    display: none;
  }
}
