.content {
  margin-top: 1rem;
  width: 100%;
  background-color: #212121ee;
  color: white;
}

.careerList {
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.career {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #212121;
  border-radius: 10px;
  min-height: 5rem;
  word-wrap: wrap;
  text-align: center;
}

.career:hover {
  background-color: #212121aa;
}
